* {
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    font-family: Calibri;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

h1 {
    margin-bottom: 21px;
    font-size: 24pt;
    font-style: normal;
    font-weight: bold;
}

h2 {
    margin-bottom: 8px;
    font-size: 14pt;
    font-style: normal;
    font-weight: bold;
}

/* Standard padding for this divs */
.divTab,
.divForm {
    padding: 21px;
}

/* GREY color for this divs */
.divOverview,
.divTab,
.divNotList {
    background-color: #D8D8D8;
}

/* LIGHT BLUE color for this divs */
.divNotListItem,
.divForm,
.divOverviewStation {
    background-color: #4BACC6;
}

/* DARK BLUE color for this divs */
body,
.btnAcceptRel,
.btnCancelRel,
.btnConfirmRel {
    background-color: #31859B;
}

/* 2px white border for this divs */
.divOverview,
.divTab,
.divNotList,
.divdivForm,
.divOverviewStation,
.divNotListItem,
.btnAcceptRel,
.btnCancelRel,
.btnConfirmRel,
.btnBedOccupied,
.btnBedCleaning,
.btnBedWrongStation,
.btnBedFree {
    border-width: 2px;
    border-style: solid;
    border-color: #FFFFFF;
}

/* Center the divContent horizontally */
.divContent {
    width: 1052px;
    height: 800px;
    position:absolute;
    margin-left: -526px;
    top: 21px;
    left: 50%;
}

/* The div for divOverview and divTabs */
.divLeft {
    float: left;
}

/* Div showing the stations */
.divOverview {
    width: 749px;
    height: 342px;
    padding-top: 21px;
    padding-bottom: 21px;
}

.divOverview > .divOverviewStation:first-child {
    margin-left: 21px;
}

.divOverviewStation {
    width: 153px;
    height: 335px;
    margin-right: 21px;
    float: left;
    padding: 2px;
    text-align: center;
}

.btnBedOccupied,
.btnBedCleaning,
.btnBedWrongStation,
.btnBedFree {
    width: 20px;
    height: 20px;
    margin: 3px;
    display: blocK;
    float: left;
    border-radius: 21px;
}

.btnBedOccupied {
    background-color: #9DBB61;
}

.btnBedCleaning {
    background-color: #FFC000;
}

.btnBedWrongStation {
    background-color: #C05046;
}

.btnBedFree {
    background-color: #FFFFFF;
}

.btnBedSelected {
    border-width: 3px;
    width: 18px;
    height: 18px;
    border-color: #000000;
}

/* Div containing all divTab divs */
.divTabs {
    margin-top: 21px;
    width: 765px;
    height: 285px;
}

/* TODO */
.divTab {
    position: absolute;
    top: 0px;
}

/* The div on the right side for the notification list */
.divRight {
    float: right;
    height: 100%;
}

.divNotList {
    width: 266px;
    height: 100%;
    overflow: auto;
}

.divNotListItem {
    width: 254px;
    font-size: 12px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 26px;
    border-top-right-radius: 21px;
}

.btnAcceptRel,
.btnCancelRel,
.btnConfirmRel {
    font-size: 12px;
    text-align: center;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 133px;
    float: right;
    right: 0px;
    margin-top: 4px;
    transition: background-color linear 0.1s;
}
.btnAcceptRel:hover,
.btnCancelRel:hover,
.btnConfirmRel:hover {
    background-color: #225C6B;
    transition: background-color linear 0.1s;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}