* {
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    font-family: Calibri;
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    margin-bottom: 21px;
    font-size: 24pt;
    font-style: normal;
    font-weight: bold;
}

h2 {
    margin-bottom: 8px;
    font-size: 14pt;
    font-style: normal;
    font-weight: bold;
}

/* GREY color for this divs */
.divOverview,
.divTabs,
.divNotList,
.divSearchResultList,
.btnTabActive {
    background-color: #D8D8D8;
}

/* LIGHT BLUE color for this divs */
.divNotListItem,
.divTabContent,
.divOverviewStation,
.btnTabInactive {
    background-color: #4BACC6;
}

/* DARK BLUE color for this divs */
body,
.btnAcceptRel,
.btnCancelRel,
.btnConfirmRel,
.btnFormSubmit,
.btnSearch,
.btnSearchResultListItem {
    background-color: #31859B;
}

/* 2px white border for this divs */
.divOverview,
.divTabs,
.divNotList,
.divSearchResultList,
.divTabContent,
.divOverviewStation,
.divNotListItem,
.btnSearchResultListItem,
.btnAcceptRel,
.btnCancelRel,
.btnConfirmRel,
.btnBedOccupied,
.btnBedCleaning,
.btnBedWrongStation,
.btnBedFree,
.btnTabActive,
.btnTabInactive,
.btnFormSubmit,
.btnSearch {
    border-width: 2px;
    border-style: solid;
    border-color: #FFFFFF;
}

/* Center the divContent horizontally */
.divCenter {
    position: absolute;
    top: 10px;
    width: 1052px;
    left: 50%;
    margin-left: -526px;
}


.divContent {
    margin-bottom: 21px;
}

.divContent,
.divRight {
    height: 713px;
}

/* The div for divOverview and divTabs */
.divLeft {
    float: left;
}

/* Div showing the stations */
.divOverview {
    height: 342px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 21px;
    padding-right: 21px;
}

.divOverviewStation {
    height: 335px;
    width: 150px;
    float: left;
    padding: 2px;
    text-align: center;
}

.marginRight {
    margin-right: 21px;
}

.divOverview,
.divTabActive,
.divTabInactive {
    /*width: 749px;*/
}

.btnBedOccupied,
.btnBedCleaning,
.btnBedWrongStation,
.btnBedFree {
    width: 20px;
    height: 20px;
    margin: 3px;
    display: blocK;
    float: left;
    border-radius: 21px;
}

.btnBedOccupied {
    background-color: #9DBB61;
}

.btnBedCleaning {
    background-color: #FFC000;
}

.btnBedWrongStation {
    background-color: #C05046;
}

.btnBedInRelocation {
    background-color: #D8D8D8;
}

.btnBedFree {
    background-color: #FFFFFF;
}

.btnBedSelected {
    border-width: 3px;
    width: 18px;
    height: 18px;
    border-color: #000000;
}

.divTabsContainer {
    margin-top: 21px;
}

/* Div containing all divTab divs */
.divTabs {
    position: relative;

}

.btnTabActive,
.btnTabInactive {
    padding-left: 4px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 2px;
    border-top-right-radius: 21px;
    font-size: 10pt;
    transition: background-color linear 0.1s;
}

.btnTabActive {
    color: #000000;
}

.btnTabInactive:hover {
    background-color: #31859B;
    transition: background-color linear 0.1s;
}

.divTabs,
.divTabActive,
.divTabInactive {
    height: 285px;
}

.divTabActive,
.divTabInactive {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.divTabInactive {
    display: none;
}

.divTabContent {
    height: 240px;
    margin-top: 21px;
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 21px;
}

.divFormLeft,
.divFormRight {
    position: relative;
    width: 295px;
}

.listDetailsPatHistory {
    max-width: 299px;
    width: 100%;
    height: 67px;
    margin-bottom: 18px;
}

.divFormLeft {
    float: left;
}

.divFormRight {
    float: right;
}

.txtBoxSearchQuery {
    max-width: 300px;
    width: 190px;
}

.divSearchResultList {
    height: 154px;
}

.lblPatId {
    width: 70px;
    display: inline-block;
}


/* The div on the right side for the notification list */
.divRight {
    margin-left: 24px;
    float: left;
}

.divNotList {
    width: 266px;
    height: 100%;
    overflow: auto;
}

.divNotListItem {
    width: 254px;
    font-size: 12px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 26px;
}

.divNotListItem,
.btnSearchResultListItem {
    border-top-right-radius: 21px;
}

.btnSearchResultListItem {
    text-align: left;
    padding-left: 4px;
}

/* Dark blue buttons */
.btnAcceptRel,
.btnCancelRel,
.btnConfirmRel,
.btnFormSubmit,
.btnSearch,
.btnSearchResultListItem {
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: background-color linear 0.1s;
}
.btnAcceptRel:hover,
.btnCancelRel:hover,
.btnConfirmRel:hover,
.btnFormSubmit:hover,
.btnSearch:hover,
.btnSearchResultListItem:hover {
    background-color: #225C6B;
    transition: background-color linear 0.1s;
}

.btnAcceptRel,
.btnCancelRel,
.btnConfirmRel,
.btnFormSubmit {
    font-size: 12px;
    text-align: center;
}

.btnFormSubmit {
    position: absolute;
    bottom: -7px;
    width: 100%;
}

.btnSearch {
    width: 75px;
    text-align: center;
    float: right;
    margin-top: -2px;
}

.btnAcceptRel,
.btnCancelRel,
.btnConfirmRel {
    width: 133px;
    float: right;
    right: 0px;
    margin-top: 4px;
    margin-right: -4px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    color: #000000;
    max-width: 139px;
    /*float: right;*/
    right: 0px;
}

.spanLabel {
    margin-bottom: 21px;
    display: inline-block;
    width: 50%;
}